<h1><%="#{@patient.first_name} #{@patient.last_name}"%></h1>
<p>Variables medicas de paciente</p>

<% if @medicals.empty? %>
  <h3>Aún no tiene pacientes</h3>
<% else %>
  <% @medicals.each do |m| %>
    <div>
      <p><%="frecuencia:  #{m.freq} "%> <%=" nombre:  #{m.medical_variable.name}"%></p>
    </div>
  <% end %>
<% end %>
