<div class="home-body">
  <div class="home-inner">
<div class="flex-container">
  <div class="flex-column-container">
    <div class="image-side">
    <%= image_tag('medicine_5.jpg', class:"home-image") %>
    </div>
  </div>
  <div class="flex-column-container">
    <div class="text-side">
      <div class="text-column">
        <h2 class="home-text">Doctor Movil</h2>
        <h5 class="home-text"> Administración a Pacientes</h5>
      </div>
    </div>
  </div>
</div>
</div>
</div>
