<h2>¡Bienvenido, Dr. <%= @doctor.first_name %>!</h2>

<div>
  <h2>Pacientes directos:</h2>
  <div>
     <% if @patients.empty? %>
      <h3>Aún no tiene pacientes</h3>
    <% else %>
      <% @patients.each do |p| %>
        <div>
          <p><%="#{p.first_name.titleize} #{p.last_name.titleize}"%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div>
  <h2>Pacientes adicionales:</h2>
  <div>
     <% if @viewable_patients.empty? %>
      <h3>Aún no tiene pacientes de otros Doctores</h3>
    <% else %>
      <% @viewable_patients.each do |p| %>
        <div>
          <p>Paciente: <%="#{p.first_name.titleize} #{p.last_name.titleize}"%></p>
          <p>Doctor: <%="#{p.doctor.first_name.titleize} #{p.doctor.last_name.titleize}"%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>